[submodule "vendor/plugins/javascript_auto_include"]
	path = vendor/plugins/javascript_auto_include
	url = git://github.com/kernow/javascript_auto_include.git
[submodule "vendor/plugins/factory_girl_on_rails"]
	path = vendor/plugins/factory_girl_on_rails
	url = git://github.com/technicalpickles/factory_girl_on_rails.git
