- page_title "Task Notes Index"

%h2 Task List

%p Below is a to-do list; Feel free to browse the items below...

%ul#tasks= render :partial => 'task_item', :collection => @tasks

%p ...or add a new item below:

= render :partial => 'task_form'